{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="d-flex justify-content-between align-items-center">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> services</h4>
                    <a href="{{path('app.services.archived')}}" class="btn btn-success">Archive</a>
                    <a href="{{path('app.services.create')}}" class="btn btn-success" title="Add new service"><i class="bx bx-plus me-1"></i></a>
                </div>
              {% include 'partials/flash.html.twig' %}
              <div class="card">
              
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        {# <th>Status</th> #}
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for service in services %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{service.title}}</strong></td>
                        <td>{{service.createdAt |date('d/m/Y')}}</td>
                        <td>{{service.updatedAt ? service.updatedAt | date('d/m/Y') : '-'}}</td>
                        {# <td><span class="badge bg-label-primary me-1">{{service.status}}</span></td> #}
                        <td class="d-flex  flex-row-reverse">
                          <a class="btn" href="{{path('app.services.show', {service:service.id})}}" title="Show Details"><i class="bx bx-show-alt me-1 text-success"></i> </a>
                              <a class="btn" href="{{path('app.services.update', {service:service.id})}}" title="Update service"><i class="bx bx-edit-alt me-1 text-warning"></i> </a>
                              <a class="btn" id="delete-service"  service-id="{{service.id}}"  title="Delete service"><i class="bx bx-trash me-1 text-danger"></i> </a>
                              <a class="btn" id="archive-service" service-id="{{service.id}}" action-text="archive" title="Archive service"><i class="bx bx-archive me-1 text-info"></i> </a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% endblock %}
