{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Dashboard /</span> Settings
              </h4>

              <div class="row">
              <h5 class="card-header">Website settings</h5>
              {% include 'partials/flash.html.twig' %}
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website Name*</h6>
                      <form action="{{path('app.settings.name')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" id="sitename" class="form-control" name="sitename" placeholder="Website name" value="{{params ? params.name : ''}}" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website Logo*</h6>
                      <form action="{{path('app.settings.logo')}}" method="POST" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="file" id="sitelogo" class="form-control" name="sitelogo" value="{{params ? params.logo : ''}}" placeholder="Website logo" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website email*</h6>
                      <form action="{{path('app.settings.email')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="email" id="siteemail" class="form-control" name="siteemail"  value="{{params ? params.email : ''}}"placeholder="Website email" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website hiring phone number*</h6>
                      <form action="{{path('app.settings.hiringPhone')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="tel" id="sitehiringphone" class="form-control" name="sitehiringphone" value="{{params ? params.hiringPhone : ''}}" placeholder="Website hiring phone number" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                   
                    <div class="card-body">
                      <h6>Website phone*</h6>
                      <form action="{{path('app.settings.phone')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="tel" id="sitephone" class="form-control" name="sitephone" value="{{params ? params.phone : ''}}" placeholder="Website phone" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website hiring email*</h6>
                      <form action="{{path('app.settings.hiringemail')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="email" id="sitehiringemail" class="form-control" name="sitehiringemail" value="{{params ? params.horigEmail : ''}}" placeholder="Website hiring email" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Website address*</h6>
                      <form action="{{path('app.settings.address')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" id="siteaddress" class="form-control" name="siteaddress" value="{{params ? params.address : ''}}" placeholder="Website address" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
               <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Tiktok link*</h6>
                      <form action="{{path('app.settings.tiktok')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="url" id="sitetiktok" class="form-control" name="sitetiktok" value="{{params ? params.tiktok : ''}}" placeholder="Tiktok link" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Facebook link*</h6>
                      <form action="{{path('app.settings.fb')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="url" id="sitefb" class="form-control" name="sitefb" value="{{params ? params.facebook : ''}}" placeholder="Facebook link" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="container-m-nx border-light my-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <!-- Notifications -->
                    
                    <div class="card-body">
                      <h6>Instagram link*</h6>
                      <form action="{{path('app.settings.insta')}}" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="url" id="siteinstagram" class="form-control" name="siteinstagram" value="{{params ? params.insta : ''}}" placeholder="Instagram link" required>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
{% endblock %}
