@extends('layouts.base_normal')
@section('slider')
@extends('layouts.variables.hero_about')
@endsection
@section('title')
GEBAUDESERVICES | About
@endsection
@section('body')
<!-- CONTENT START -->
<section>
    <!-- ABOUT SECTION START -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-info-layer">
                    <h5 class="subtitle">Über uns </h5>
                    <h2>Reinigung isunsere Expertise</h2>
                    <p><strong>Clean-Buildings: Reinigen. Erfrischen. Wohlfühlen.</strong></p>
                    <!-- <p>GEBAUDESERVICES. We are a company dedicated to giving our customers back the time
                        they deserve to enjoy the things they love. We put The Extra In Your Ordinary, restoring
                        balance to your life by taking care of your home.</p> -->

                    <div class="brand-layer d-flex">
                        <figure class="signature">
                            <img src="{{asset('front-office/images/service-1.jpg')}}" alt="">
                        </figure>
                        <div class="bl-contact">
                            <h4>  Wir helfen Ihnen weiter</h4>
                            <p> <img  style=" height: 20px; width: 20px" src="{{asset('front-office/images/icons/email.png')}}" alt=""> &ensp;info@clean-buildings.de</p>
                            <p><img  style=" height: 20px; width: 20px" src="{{asset('front-office/images/icons/telephone.png')}}" alt=""> &ensp;  0201 69569745</p>
                            <p><img  style=" height: 20px; width: 20px" src="{{asset('front-office/images/icons/placeholder.png')}}" alt=""> &ensp;Clean Buildings Gebäudeservice Krablerstraße 127, 45326 Essen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 spacing-md">
                <figure class="about-img-layer">
                    <img src="{{asset('front-office/images/service-2.jpg')}}" alt="">
                    
                </figure>
            </div>

        </div>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="icon-circle-layer">
                        <h4>Erstklassige Servicegarantie</h4>
                    </div>
                </div>
                <div class="col-lg-4 spacing-m-center">
                    <div class="icon-circle-layer">
                        <h4>Effiziente Reinigungsprozesse und – technologien</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-circle-layer">
                        <h4>Kundenzufriedenheit und Kommunikation</h4>
                    </div>
                </div>

            </div>



    </div>
    <!-- ABOUT SECTION END -->

    <!-- GRID SECTION START 
    <div class="bg-wrapper mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="grid-column">
                                <figure class="gc-icon">
                                    <img src="{{asset('front-office/images/service-3.jpg')}}" alt="">
                                </figure>
                                <h4>Home Cleaning</h4>
                                <p>Homes and thoroughly launder them between usage, We give our teams.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid-column">
                                <figure class="gc-icon">
                                    <img src="{{asset('front-office/images/service-4.jpg')}}" alt="">
                                </figure>
                                <h4>Office Cleaning</h4>
                                <p>We are closely monitoring national, state and local health agencies.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid-column">
                                <figure class="gc-icon">
                                    <img src="{{asset('front-office/images/service-5.jpg')}}" alt="">
                                </figure>
                                <h4>Windows Cleaning</h4>
                                <p>Follow these tips from the CDC to help prevent the spread.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid-column">
                                <figure class="gc-icon">
                                    <img src="{{asset('front-office/images/service-6.jpg')}}" alt="">
                                </figure>
                                <h4>Deep Cleaning</h4>
                                <p>Cleanliness plays a large role in the comfort of your home.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 spacing-md">
                    <div class="ws-left-side">
                        <h5 class="subtitle">We love cleaning</h5>
                        <h2>We have experts cleaning teams </h2>
                        <p>
                            <strong>
                                World’s leading non-asset- based supply chain management companies, we design and implement industry-leading.
                            </strong>
                        </p>
                        <p>
                            GEBAUDESERVICES customers has a tremendous opportunity to answer the call of logistic needs across the globe.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- GRID SECTION END -->

    <!-- CERTIFICATION SECTION START  -->
    <div class="bg-wrapper mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-info-layer">

                        <h2>Zertifizierte Leistungen</h2>
                        <!-- <p><strong>All our cervices ar certified</strong></p> -->
                        <p>{{-- GEBAUDESERVICES. We are a company dedicated to giving our customers back the time
                            they deserve to enjoy the things they love. We put The Extra In Your Ordinary, restoring
                            balance to your life by taking care of your home. --}}
                            Wir freuen uns sehr, Sie auf unserer Website begrüßen zu dürfen. Bei Clean-Buildings sind wir nicht einfach nur eine Gebäudereinigungsfirma - wir sind Ihr Partner für ein rundum sauberes und einladendes Ambiente! Unser Team besteht aus engagierten Experten, die mit Leidenschaft und Sorgfalt jedes Detail Ihres Gebäudes auf Hochglanz bringen.
                        </p>


                    </div>
                </div>
                <!-- <div class="col-lg-6 spacing-md">
                    <figure class="about-img-layer">
                        <img src="{{asset('front-office/images/certified.png')}}" alt="">
                        <div class="ai-banner">
                            <div class="media">
                                <img src="images/icons/icon-clean.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Certified services</h5>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div> -->
            </div>
        </div>
    </div>
    <!--CERTIFICATION SECTION END -->

</section>
<!-- CONTENT END -->
@endsection
